<StackLayout flexDirection="column" class="registration-form" alignItems="center">
        <StackLayout class="fondo">
                <img class="img" src="~/assets/logob.png"height="200px">
                <label class="msj" text="Recuperar"></label>
                <label class="msj" text="Contraseña"></label>
   
            <TextField class="es" hint="Correo"  width="600px" style="placeholder-color:white;" ></TextField>

            <Button text="Recuperar" width="600px" (tap)="log()"style="color:white;placeholder-color:white;" class="btn"></Button>
    
        </StackLayout>
  
     
 
</StackLayout>
