
<StackLayout  >
    <slides loop="true" [pageIndicators]="true">
        <slide class="slide-1">

             <img class="img" src="~/assets/burrito.png" height="200px">
            <Label class="ta" [text]="'L o r e m   i p s u m.'" textWrap="true"></Label>
            <Label class="text1" [text]="'L o r e m   i p s u m   d o l o r   s i t   a m e t , consectetur   adipiscing   elit,   sed   do eiusmod  tempor  incididunt  ut  labore et  dolore  magna  aliqua.  Ut  enim  ad m i n i m   v e n i a m ,   q u i s   n o s t r u d exercitation   ullamco   laboris   nisi   ut aliquip ex ea commodo consequat.'" textWrap="true"></Label>
          
         
        
         
                </slide>
        <slide class="slide-2">
             <img class="img" src="~/assets/burrito.png" height="200px">
            <Label class="ta" [text]="'L o r e m   i p s u m.'" textWrap="true"></Label>
            <Label class="text1" [text]="'L o r e m   i p s u m   d o l o r   s i t   a m e t , consectetur   adipiscing   elit,   sed   do eiusmod  tempor  incididunt  ut  labore et  dolore  magna  aliqua.  Ut  enim  ad m i n i m   v e n i a m ,   q u i s   n o s t r u d exercitation   ullamco   laboris   nisi   ut aliquip ex ea commodo consequat.'" textWrap="true"></Label>
          
                </slide>
        <slide class="slide-3">
              
            <img class="img" src="~/assets/burrito.png" height="200px">
            <Label class="ta" [text]="'L o r e m   i p s u m.'" textWrap="true"></Label>
            <Label class="text1" [text]="'L o r e m   i p s u m   d o l o r   s i t   a m e t , consectetur   adipiscing   elit,   sed   do eiusmod  tempor  incididunt  ut  labore et  dolore  magna  aliqua.  Ut  enim  ad m i n i m   v e n i a m ,   q u i s   n o s t r u d exercitation   ullamco   laboris   nisi   ut aliquip ex ea commodo consequat.'" textWrap="true"></Label>
            
            <Button  row="1" text="¡Terminar tutorial!" (tap)="goToSignUp()" class="btn"></Button>   
       </slide>
    </slides>
</StackLayout>