<TabView class="fondo">

    <StackLayout class="fondo" *tabItem height="0px" >
            <ScrollView>
                    <StackLayout class="p-5 form">
        <img class="img" src="~/assets/burrito.png" height="200px">
        <Label class="ta" [text]="'L o r e m   i p s u m.'" textWrap="true"></Label>
        <Label class="text1" [text]="'L o r e m   i p s u m   d o l o r   s i t   a m e t , consectetur   adipiscing   elit,   sed   do eiusmod  tempor  incididunt  ut  labore et  dolore  magna  aliqua.  Ut  enim  ad m i n i m   v e n i a m ,   q u i s   n o s t r u d exercitation   ullamco   laboris   nisi   ut aliquip ex ea commodo consequat.'" textWrap="true"></Label>
        <GridLayout class="pros" columns="auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto">
                        <img src="~/assets/bolan.png" col="0" height="40px" >
                        <img src="~/assets/bolanegra.png" col="1" height="40px" >
                        <img src="~/assets/bolanegra.png" col="2" height="40px" >
                        <img src="~/assets/bolanegra.png" col="3" height="40px" >

        </GridLayout>
        
       
                    </StackLayout>
            </ScrollView>
    </StackLayout>

    <StackLayout class="fondo" *tabItem="{title: 'Paso 2'}">
            <ScrollView>
                    <StackLayout class="p-5 form">
                                <img class="img" src="~/assets/burrito.png" height="200px">
                                <Label class="ta" [text]="'L o r e m   i p s u m.'" textWrap="true"></Label>
                                <Label class="text1" [text]="'L o r e m   i p s u m   d o l o r   s i t   a m e t , consectetur   adipiscing   elit,   sed   do eiusmod  tempor  incididunt  ut  labore et  dolore  magna  aliqua.  Ut  enim  ad m i n i m   v e n i a m ,   q u i s   n o s t r u d exercitation   ullamco   laboris   nisi   ut aliquip ex ea commodo consequat.'" textWrap="true"></Label>
                                <GridLayout class="pros" columns="auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto">
                                                <img src="~/assets/bolan.png" col="1" height="40px" >
                                                <img src="~/assets/bolanegra.png" col="0" height="40px" >
                                                <img src="~/assets/bolanegra.png" col="2" height="40px" >
                                                <img src="~/assets/bolanegra.png" col="3" height="40px" >
                        
                                </GridLayout>
                    </StackLayout>
            </ScrollView>
    </StackLayout>

    <StackLayout class="fondo" *tabItem="{title: 'paso 3'}">
            <ScrollView>
                    <StackLayout class="p-5 form">
        <img class="img" src="~/assets/burrito.png" height="200px">
        <Label class="ta" [text]="'L o r e m   i p s u m.'" textWrap="true"></Label>
        <Label class="text1" [text]="'L o r e m   i p s u m   d o l o r   s i t   a m e t , consectetur   adipiscing   elit,   sed   do eiusmod  tempor  incididunt  ut  labore et  dolore  magna  aliqua.  Ut  enim  ad m i n i m   v e n i a m ,   q u i s   n o s t r u d exercitation   ullamco   laboris   nisi   ut aliquip ex ea commodo consequat.'" textWrap="true"></Label>
        <GridLayout class="pros" columns="auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto">
                        <img src="~/assets/bolan.png" col="2" height="40px" >
                        <img src="~/assets/bolanegra.png" col="1" height="40px" >
                        <img src="~/assets/bolanegra.png" col="0" height="40px" >
                        <img src="~/assets/bolanegra.png" col="3" height="40px" >

        </GridLayout>
        <Button text="¡Terminar tutorial!" (tap)="goToSignUp()" class="btn"></Button>
                    </StackLayout>
            </ScrollView>
       
    </StackLayout>

</TabView> 



